# see: https://caddyserver.com/docs/caddyfile/concepts

{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

artdaten.ch, www.artdaten.ch {
  root * /html
  encode zstd gzip
  file_server
}

api.artdaten.ch {
  reverse_proxy /graphql* {
    to ae_graphql:5000
    header_down Access-Control-Allow-Origin *
  }
  reverse_proxy /graphiql* {
    to ae_graphql:5000
    header_down Access-Control-Allow-Origin *
  }
  reverse_proxy /artendb/* {
    to ae_json:4000
    header_down Access-Control-Allow-Origin *
  }
  reverse_proxy /evab* {
    to ae_json:4000
    header_down Access-Control-Allow-Origin *
  }
  reverse_proxy /alt* {
    to ae_json:4000
    header_down Access-Control-Allow-Origin *
  }
}
