body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff3e0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 253, 231, 0.1);
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
  background: rgba(85, 85, 85, 0.05);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/*
 * seems that overflow:hidden is necessary
 * for all reflex-elements
 */

.reflex-element {
  border-right: 0 !important;
  border-left: 0 !important;
}

.reflex-element.tree-reflex-element {
  overflow: hidden !important;
}

.reflex-splitter {
  background-color: #fff3e0 !important;
}
.reflex-splitter:hover {
  background-color: #ffe0b2 !important;
  border-right: 1px solid #ffe0b2 !important;
  border-left: 1px solid #ffe0b2 !important;
}
